/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Header */
h1 {
  text-align: center;
  color: #333;
  font-size: 2.5rem;
}

h2 {
  color: #333;
  font-size: 2rem;
}

/* Form Styles */
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

input[type="text"], input[type="number"], input[type="tel"], input[type="email"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="number"] {
  width: 70px;
}

input[type="date"] {
  padding: 10px;
}

input[type="submit"], button {
  background-color: #ff4500;
  color: white;
  border: none;
  padding: 15px;
  text-align: center;
  display: inline-block;
  font-size: 1.2rem;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

input[type="submit"]:hover, button:hover {
  background-color: #e53e00;
}

#summary-section {
  margin-top: 20px;
}

#quote-summary {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 1.8rem; /* Increased size for the quote section */
}

#total-price {
  font-size: 2.5rem; /* Increase the font size for the total price */
  color: #ff4500;
  font-weight: bold;
}

/* Receipt Styling */
#receipt {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
}

#receipt h2 {
  margin-bottom: 15px;
}

#receipt-logo {
  width: 100px;
  margin-bottom: 15px;
}

#receipt-summary {
  font-size: 1.5rem;
}

#receipt-total {
  font-size: 2rem;
  font-weight: bold;
  color: #ff4500;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }

  input[type="submit"], button {
    font-size: 1rem;
    padding: 10px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  #quote-summary {
    font-size: 1.6rem; /* Adjust size for smaller screens */
  }

  #total-price {
    font-size: 2rem;
  }
}
